

<div class="row">
  <form>
    <label for="alias">Alias:</label>
    <input ng-model="alias" type="text" id="alias" name="alias" />
    <label for="first_name">First Name:</label>
    <input ng-model="first_name" type="text" id="first_name" name="first_name" />
    <label for="last_name">Last Name:</label>
    <input ng-model="last_name" type="text" id="last_name" name="last_name" />
    <label for="city">City:</label>
    <input ng-model="city" type="text" id="city" name="city" />
    <select ng-model="selected">
      <!--hard coding powers just so i can work with something-->
      <option value="Invisibility">Invisibility</option>

      <option value="Animal Affinity">Animal Affinity</option>
    </select>
    <button ng-click="enterHero()">Enter Hero</button>
    <!-- <input ng-model="power" type="text" id="power" name="power" />
    <button ng-click="enterPower()">Enter Power</button> USED TO ADD POWERS COLLECTION-->
  </form>
</div>

<div class="row">

</div>
